<p class="title" {{action "toggleView"}}>
  {{supportRequest.title}} <em> - Submitted {{moment-from-now supportRequest.createdAt}}</em>
</p>

<div class="status">
  {{#if supportRequest.closedAt}}
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
     Resolved
  {{else}}
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
     Not checked yet
  {{/if}}
</div>

{{#if showDetails}}
  <div class="content">
    <hr />
    <div class="message">
      {{supportRequest.message}}
    </div>

    {{#unless supportRequest.closedAt}}
      <div class="actions">
        <button type="button" class="btn btn-danger" {{action "delete"}}>Delete</button>
      </div>
    {{/unless}}
  </div>
{{/if}}
